
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,500;0,600;0,800;1,300;1,400&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
   
}

body{
     display: flex;
     justify-content: center;
     align-items: center;
     min-height: 100vh;
     background: #091921;   
}

.calculator{
    position: relative;
    display: grid;
}

.calculator .value{
    grid-column: span 4;
    height: 100px;
    text-align: right;
    border: none;
    outline: none;
    padding: 10px;
    font-size: 18px;
}

.calculator span
{
     cursor: pointer;
    display: grid;
    width: 60px;
    height: 60px;
    color: #fff;
    background: #0c2835;
    place-items: center;
    border: 1px solid rgba(0,0, 0,.1);
}

.calculator span:active{
     cursor: pointer;
    background: #74ff3b;
    color: #111;
}

.calculator span.clear
{
     cursor: pointer;
     grid-column: span 2;
    width: 120px;
    background: palevioletred;
}

.calculator span.plus
{
     cursor: pointer;
    grid-row: span 2;
    height: 120px;
    background: rebeccapurple;
}

.calculator span.equal
{
   cursor: pointer;
    background: #03b1ff;
}




